<launch>
   <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver">
     <param name="baud" value="115200"/>
     <param name="port" value="/dev/ttyUSB0"/>
     <remap from="global" to="~/global"/>
     <remap from="vel" to="~/vel"/>
     <remap from="local" to="~/local"/>
   </node>
</launch>
